.App {
  display: flex;
  flex-direction: row;
  font-family: "Chakra Petch", sans-serif;
  height: 96vh;
  margin: 2vh;
}

@media only screen and (max-width: 800px) {
  .App {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: inherit;
  }
}

.AboutMe {
  background-color: #ddddc7;
  color: #552e5a;
  display: flex;
  flex-direction: column;
  font-size: 3em;
  font-weight: 600px;
  text-align: left;
  padding: 5em 1em 1em 1em;
}

.Links {
  background-color: #552e5a;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.app-link {
  text-align: right;
  transition: 0.1 ease-in-out;
  background-color: transparent;
  outline: none;
  border: none;
  color: #ecffa3;
  font-size: 2.3em;
  font-weight: 600;
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 0.3em;
  margin: 0.7em 0 0.7em 0;
  text-decoration: none;
}

.app-link:hover {
  cursor: pointer;
  color: #f6e198;
}

#portfolio-link:hover {
  transform: rotate(7deg);
  -moz-transform: rotateZ(7deg);
  -webkit-transform: rotateZ(7deg);
  -o-transform: rotateZ(7deg);
}

#experience-link:hover {
  transform: rotate(-7deg);
  -moz-transform: rotateZ(-7deg);
  -webkit-transform: rotateZ(-7deg);
  -o-transform: rotateZ(-7deg);
}

#contact-link:hover {
  transform: rotate(7deg);
  -moz-transform: rotateZ(7deg);
  -webkit-transform: rotateZ(7deg);
  -o-transform: rotateZ(7deg);
}

#twitter-link:hover {
  transform: rotate(-7deg);
  -moz-transform: rotateZ(-7deg);
  -webkit-transform: rotateZ(-7deg);
  -o-transform: rotateZ(-7deg);
}

#twitter-icon {
  height: 0.6em;
  width: 0.6em;
}

.about-me-header {
  color: #dc7646;
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 0.1em;
  margin: 0 0 0.3em 0;
}

.about-me-body {
  font-size: 0.5em;
  line-height: 1.7;
}

.Modal {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.2em;
  height: 25em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
  color: #552e5a;
  background-color: #dc7646;
  min-width: fit-content;
}

.modal-header {
  width: 100%;
  font-size: 1.7em;
  justify-content: center;
  text-align: center;
  margin: 0.5em;
  padding: 0;
}

#popup-2 {
  padding: 0;
  border: none;
}

.modal-content {
  width: 100%;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.contact-label {
  width: 70%;
  margin: 0.1em;
  text-align: left;
  margin: 0.3em;
}

.contact-input {
  width: 27em;
  height: 2em;
}

.contact-info {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.contact-message {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.contact-message-textarea {
  width: 27em;
  height: 13em;
  resize: none;
}

.contact-submit-button {
  align-self: flex-end;
  margin: 0.5em 8em 0 0;
  background-color: #ffffff;
  height: 1.5em;
  outline: none;
  border: none;
  font-weight: 400;
  width: 3em;
  color: #552e5a;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1em;
}

.contact-submit-button:hover {
  transform: scale(1.15);
  cursor: pointer;
  font-style: italic;
}

@media only screen and (max-width: 500px) {
  .Modal {
    justify-content: center;
    align-content: center;
    width: min-content;
    height: fit-content;
  }

  .contact-input {
    margin: 0.5em;
    width: 20em;
    height: 2em;
  }

  .contact-message-textarea {
    width: 20em;
    height: 13em;
    margin: 0.5em;
  }

  .contact-submit-button {
    margin: 0.5em 2em 0.5em 0;
  }
}
