.App {
  display: flex;
  flex-direction: row;
  font-family: "Chakra Petch", sans-serif;
  height: 96vh;
  margin: 2vh;
}

@media only screen and (max-width: 800px) {
  .App {
    flex-direction: column-reverse;
    height: inherit;
    justify-content: space-between;
  }
}

.AboutMe {
  background-color: #ddddc7;
  color: #552e5a;
  display: flex;
  flex-direction: column;
  font-size: 3em;
  font-weight: 600px;
  text-align: left;
  padding: 5em 1em 1em 1em;
}

.AboutMe_header {
  color: #dc7646;
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 0.1em;
  margin: 0 0 0.3em 0;
}

.AboutMe_body {
  font-size: 0.5em;
  line-height: 1.5;
}

.Links {
  background-color: #552e5a;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.Links_link {
  background-color: transparent;
  border: none;
  color: #ecffa3;
  font-family: "DotGothic16", sans-serif;
  font-size: 2.3em;
  font-weight: 600;
  justify-items: center;
  letter-spacing: 0.3em;
  margin: 0.7em 0 0.7em 0;
  outline: none;
  text-align: right;
  text-decoration: none;
  transition: 0.1 ease-in-out;
}

.Links_link:hover {
  color: #c5d86d;
  cursor: pointer;
}
/* #c5d86d #9c7d14 #f0bcd4 #9999c3 #dc6acf #ffc4eb */

#portfolio-link:hover {
  transform: rotate(7deg);
  -moz-transform: rotateZ(7deg);
  -webkit-transform: rotateZ(7deg);
  -o-transform: rotateZ(7deg);
}

#experience-link:hover {
  transform: rotate(-7deg);
  -moz-transform: rotateZ(-7deg);
  -webkit-transform: rotateZ(-7deg);
  -o-transform: rotateZ(-7deg);
}

#contact-link:hover {
  transform: rotate(7deg);
  -moz-transform: rotateZ(7deg);
  -webkit-transform: rotateZ(7deg);
  -o-transform: rotateZ(7deg);
}

#twitter-link:hover {
  transform: rotate(-7deg);
  -moz-transform: rotateZ(-7deg);
  -webkit-transform: rotateZ(-7deg);
  -o-transform: rotateZ(-7deg);
}

#twitter-icon {
  height: 0.6em;
  width: 0.6em;
}

.Modal {
  background-color: #dc7646;
  color: #552e5a;
  display: flex;
  flex-direction: column;
  font-family: "Chakra Petch", sans-serif;
  width: 33em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Modal_close {
  display: flex;
  width: 100%;
  height: min-content;
  justify-content: flex-end;
  transition: 0.2 ease-in-out;
}

.Modal_close_button {
  background-color: transparent;
  border: none;
  color: #ecffa3;
  font-family: "DotGothic16", sans-serif;
  font-size: 2.5em;
  height: min-content;
  padding: 0 0.5em 0 0;
}

.Modal_close_button:hover {
  cursor: pointer;
  transform: rotate(-17deg);
}

/* #0A210F #657153 #285238 */

.Modal_header {
  font-size: 1.7em;
  justify-content: center;
  margin: 0.5em 0 1em 0;
  text-align: center;
  width: inherit;
}

#popup-2 {
  border: none;
  padding: 0;
}

.Modal_content {
  justify-content: center;
  width: 100%;
}

.Contact {
  display: flex;
  /* justify-content: center; */
}

.Contact_form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Contact_label {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.2em;
  justify-content: left;
  width: 70%;
}

.Contact_input {
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1.1em;
  height: 2em;
  margin: 0.5em 0;
  width: 75%;
}

.Contact_section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Contact_textarea {
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1.2em;
  height: 8em;
  margin: 0.5em 0;
  resize: none;
  width: 75%;
}

.Contact_textarea:focus,
.Contact_input:focus {
  outline: none;
}

.Contact_submit_button {
  background-color: transparent;
  border: none;
  color: #ecffa3;
  display: flex;
  font-size: 1.6em;
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.2em;
  margin: 0.6em;
  max-width: 100%;
  outline: none;
}

.Contact_submit_button:hover {
  cursor: pointer;
  transform: rotate(-10deg);
}

@media only screen and (max-width: 900px) {
  .Contact_input {
    margin: 0.5em;
    height: 2em;
    font-size: 0.9em;
    width: 90%;
  }

  .Contact_textarea {
    font-size: 1em;
    height: 9em;
    margin: 0.5em;
    width: 90%;
  }

  .AboutMe {
    padding: 1em;
  }

  .Modal {
    display: flex;
    width: 25em;
  }
}

@media only screen and (max-height: 550px) {
  .AboutMe {
    padding: 1em;
  }
}
