.App {
  display: flex;
  flex-direction: row;
  font-family: "Chakra Petch", sans-serif;
  height: 96vh;
  margin: 2vh;
}

@media only screen and (max-width: 660px) {
  .App {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: inherit;
  }
}

.AboutMe {
  background-color: #ddddc7;
  display: flex;
  flex-direction: column;
  font-size: 3em;
  font-weight: 600px;
  text-align: left;
  padding: 1em;
}

.Links {
  background-color: #552e5a;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.app-link {
  text-align: right;
  transition: 0.4 ease-out;
  background-color: transparent;
  color: #ecffa3;
  font-size: 2.3em;
  font-weight: 600;
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 0.3em;
  margin: 0.5em 0 0.5em 0;
  text-decoration: none;
}

.app-link:hover {
  cursor: pointer;
  color: #f6e198;
}

#portfolio-link:hover {
  transform: rotate(-10deg);
}

#experience-link:hover {
  transform: rotate(10deg);
}

#contact-link:hover {
  transform: rotate(-10deg);
}

.app-link-subtext {
  text-align: right;
  color: #f6e198;
  font-family: "DotGothic16", sans-serif;
}

.about-me-header {
  color: #dc7646;
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 0.1em;
}

.about-me-body {
  font-size: 0.5em;
}
